/* THIS IS THE PAGE FOR ALL CSS*/

.MainScreen {
    background-color: rgb(172, 226, 172);
    width: 100%;
    display: grid;
    grid-template-columns: 2em auto;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 1em;
    font-size: 2em;
    padding-top: 0.2em;
    color: white;
}

.logo img {
    height: 2.5rem;
    vertical-align: bottom;
    margin-right: 0.5em;
}

#pollWindow {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2em auto;
}

.inputbox {
    -ms-transform: translateY(-50%);
    margin: auto;
    color: black;
}

#hideAfterCreate {
    display: flex;
    background-color: white;
}

#hideBeforeCreate {
    display: none;
}

@media  screen and (max-width: 50em) {
    .logo {
    font-size: 5vw;
    display: flex;
    }
    
}
.joinPollBox {
    border: 2em;
    border-radius: 2em;
    border-color: black;
    
}