
/*CSS for every screen imported*/


  .MainScreen {
    background-color: lightgreen;
    width: 100%;
    display: grid;
    grid-template-columns: 2em auto;
    
  }
  .logo {
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 2.5rem;
    color: black;
    padding-top:0.2em;
  }
  .logo img {
    height:2.5rem;
    vertical-align: bottom;
    margin-right: 0.5rem; 
  }
  .inputbox {
  -ms-transform: translateY(-50%);
  margin: auto;
  }
  #pollWindow {
    background-color: white;
    display: flex;
    justify-content: center;
    grid-template-columns: 2em auto;
    align-items: center;
  }

@media screen and (max-width:50em) {
  .logo {
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger::before {
    content: "☰";
  }
  .close::before {
    content: "✕";
  }
  .hide {
    left:-12em;
    background-color: lightgreen;
  }
  
.screen {
  background-color: white;
  ;
}

.backToStart {
  background-color: white;
}
}

.header {
  background-color: black;
  width: 100%;
  display: grid;
  grid-template-columns: 2em auto;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 2.5rem;
  color: white;
  padding-top:0.2em;
}
.logo img {
  height:2.5rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
}

#hideBeforeCreate {
  display: none
}

#hideAfterCreat {
    display: none;
}

@media screen and (max-width:50em) {
  .logo {
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger::before {
    content: "☰";
  }
  .close::before {
    content: "✕";
  }
  .hide {
    left:-12em;
  }
}